<html>
	<head>

		<title>Item Info Request</title>
	</head>


	<body>
		<h1>Enter Item You Would Like to Search</h1>
		<form action="/getItem" method="GET">
			<input type="text" id="title" name="title"/>
			<br>
			<input type="submit" value="Submit"/>
		</form>
	</body>

</html>
