<!DOCTYPE html>
<html>
    <head>
        <title>Result</title>
    </head>
    <body>
        <h2>Results</h2>
        <p>Mailing <span style="font-weight:bold"><%= mailType %></span> that weighs <span style="font-weight:bold"><%= weight %></span> will cost <span style="font-weight:bold"><%= cost %></span>.</p>
    </body>